nav{
    background-color: #07070f;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search{
    padding-left: 15px;
}
.dflex{
    display: flex;
    flex-direction: row;
}
.aboutUs{
    text-decoration: none;
    color:antiquewhite;
    font-size: 1.2rem;
    padding-right: 15px;   
}
.cartWidget{
    padding-right: 15px;
    color: antiquewhite;
}